@model IEnumerable<Rocku.Models.Application>

<div class="container p-3 bg-dark text-light">
    <div class="row pt-3">
        <div class="col-6">
            <h2 class="" text-primary">Application List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Application" asp-action="Create" class="btn btn-primary btn-outline-primary bg-primary ">
                <i class="fas fa-plus"></i> &nbsp;Create New Application
            </a>
        </div>
    </div>

    <br />
    <br />

    @if (Model.Count() > 0) {
        <table class="table table-bordered table-dark table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Application Name
                    </th>
                    <th>
                        Category
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in (from a in Model select new { a.Id, a.Name, a.Category }).Where(d=>d.Name!=null&&d.Category!=null).OrderBy(d => d.Category).ThenBy(d => d.Name)) {
                    <tr>
                        <td width="5%">@obj.Id</td>
                        <td width="25%">@obj.Name</td>
                        <td width="45%">@obj.Category</td>
                        <td width="25%" class="text-center">
                            <form method="post" type="hidden" asp-route-Id=@obj.Id asp-action="Clone">
                                <div class="w-75 btn-group" role="group">
                                    <input class="fas btn text-dark btn-success border-dark" type="submit" value="" />
                                    <a asp-controller="Application" asp-route-Id=@obj.Id asp-action="Edit" class="btn text-dark btn-warning border-dark">
                                        <i class="fas fa-pen-square"></i>
                                    </a>
                                    <a asp-controller="Application" asp-route-Id=@obj.Id asp-action="Delete" class="btn text-dark btn-danger border-dark">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    } else {
        <p> No application exists.</p>
    }
</div>